@import url("https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

.App {
	text-align: center;
	min-height: 100vh;
	max-width: 100vw;
	background-color: #e8eef1;
}

.navbar-links a {
	margin: 10px;
}

.info-card {
	display: flex;
	flex-direction: column;
	background-color: pink;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.host-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 86vh;
	}

	.host-wrapper h1 {
		margin-bottom: 3rem;
		color: #e8eef1;
		text-shadow: 2px 2px #1e3d58;
	}

	#first-name {
		grid-column: 0/3;
	}
	#last-name {
		grid-column: 2/5;
	}
	#email {
		grid-column: 1/2;
	}
	#email2 {
		grid-column: 2/3;
	}
	#password {
		grid-column: 1/2;
	}
	#password2 {
		grid-column: 2/3;
	}
	#street {
		grid-column: 1/2;
	}
	#apt-suite {
		grid-column: 2/3;
	}
	#city {
		grid-column: 1/2;
	}
	#state {
		grid-column: 2/3;
	}
	#zip {
		grid-column: 1/2;
	}
	#spots {
		grid-column: 2/3;
	}
	#phone {
		grid-column: 1/2;
	}
	#submit-button {
		grid-column: 2/3;
	}
	#description {
		grid-column: 1/3;
		width: 400px;
		height: 160px;
	}
}
