@import url("https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
}

.App {
	text-align: center;
	min-height: 100vh;
	max-width: 100vw;
	background-color: #e8eef1;
}
