.driveway-results-div {
  min-height: 100vh;
  background-color: #e8eef1;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.driveway-pic {
  width: 225px;
  height: 120px;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.results-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map-of-spots {
  width: 470px;
  height: 350px;
  margin: auto;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.info-and-reserve {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
}

.results-and-map {
  display: flex;
  flex-direction: row;
}

.title {
  text-align: left;
  margin: 20px 10px;
}

.pic-and-desc {
  margin: 0 10%;
}

.pic-and-desc img {
  height: 220px;
  width: 410px;
}

.map-div {
  display: flex;
  justify-content: center;
}

#map {
  margin: auto;
  margin-right: 2%;
  height: 500px;
  width: 70%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#results-search-input {
  width: 30rem;
  height: 2rem;
  font-size: 17px;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #1e3d58;
  color: #1e3d58;
  background-color: #fff;
  margin: 20px;
}

#results-search-button {
  background-color: #1e3d58;
  color: #e8eef1;
  width: 6rem;
  height: 2rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

#results-search-button:hover {
  color: #1e3d58;
  background-color: #fd7f20;
}

@media screen and (max-width: 768px) {
  .results-search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #results-search-button {
    margin: 0 0 10px 0;
  }
}
