.results-search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#results-search-input {
  width: 30rem;
  height: 2rem;
  font-size: 17px;
  padding-left: 10px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #1e3d58;
  color: #1e3d58;
  background-color: #fff;
  margin: 20px;
}

#results-search-button {
  background-color: #1e3d58;
  color: #e8eef1;
  width: 6rem;
  height: 2rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

#results-search-button:hover {
  color: #1e3d58;
  background-color: #fd7f20;
}

.driveway-results-div {
  min-height: 100vh;
  background-color: #e8eef1;
}

.driveway-pic {
  width: 112px;
  height: 60px;
}

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.pic-and-address {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pic-and-address h2 {
  padding-top: 3px;
}

.info-and-reserve {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results-and-map {
  display: flex;
  flex-direction: row;
}

.card-contents {
  display: flex;
  flex-direction: column;
}

.price-and-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px;
  gap: 10px;
}

.price-and-link a {
  text-decoration: none;
  color: black;
}

.price-and-link a:hover {
  color: #fd7f20;
}

#map {
  height: 70vh;
  width: 90%;
  margin: 5px 50px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1100px) {
  .results-search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #results-search-button {
    margin: 0 0 10px 0;
  }

  .results-and-map {
    display: flex;
    flex-direction: column-reverse;
  }

  #map {
    width: 90%;
    margin: auto;
  }
}

/* @media screen and (max-width: 1100px) and (min-width: 768px) {
  .results-search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #results-search-button {
    margin: 0 0 10px 0;
  }

  .search-results {
    display: flex;
    flex-direction: column;
  }

  .results-and-map {
    display: flex;
    flex-direction: column-reverse;
  }

  #map {
    width: 90%;
    margin: auto;
  }
} */
