#main-error-div {
	height: 85vh;
	background-image: url(${error});
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#error-section {
	background-color: #e8eef1;
	width: 300px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	border-radius: 10px;
}

#error-section h3 {
	font-size: 20px;
	padding: 10px;
	margin: 10px;
}

#error-section button {
	padding: 10px;
	margin: 10px;
}
