#main-faq-div {
	min-height: 90vh;
	background-color: #e8eef1;
	padding-bottom: 3%;
}

.faq-header {
	margin: 1.5rem;
	font-weight: bolder;
}

.faq-section {
	margin: 1.5rem;
}

.faq-sub-section {
	margin: 2rem;
}

.faq-sub-section h1 {
	margin: 1.5rem;
}

.faq-sub-section p {
	margin: 0.5rem;
}
