@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

/* MAIN SECTION OF LANDING PAGE */
#main {
	display: flex;
	flex-direction: column;
}
#main-landing {
	background-color: #e8eef1;
	color: #1e3d58;
	min-height: 50vh;
	border: none;
	max-width: 100vw;
}

#main-landing img {
	height: 80%;
	width: 80%;
	border-radius: 5px;
}

.search-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#landing-search-input {
	width: 22rem;
	height: 3.5rem;
	font-size: 17px;
	padding-left: 10px;
	outline: none;
	border-radius: 10px;
	border: 1px solid #1e3d58;
	color: #1e3d58;
	background-color: #fff;
	margin: 1rem;
}

#main-search-button {
	background-color: #1e3d58;
	color: #e8eef1;
	width: 12rem;
	height: 3rem;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin: 20px;
	border-radius: 10px;
	cursor: pointer;
	border: none;
}

#main-search-button:hover {
	color: #1e3d58;
	background-color: #fd7f20;
	border: none;
}

#become-a-host {
	text-decoration: none;
	color: #1e3d58;
}

.secondary-landing {
	margin-bottom: 15px;
}

#intro-details {
	font-size: 18px;
	padding: 10px;
	margin: 10px;
}

#intro-details p {
	font-size: 17px;
	margin: 20px;
}

#main-welcome-intro {
	padding: 1.5rem;
	font-size: 25px;
	margin: 0;
	color: #1e3d58;
	font-family: "Bubblegum Sans", cursive;
}

@media screen and (min-width: 768px) {
	#main-landing img {
		height: 80%;
		width: 80%;
	}

	#main-welcome-intro {
		padding: 1.5rem;
	}

	#main-landing p {
		margin: 0;
		padding: 2rem;
	}

	#main-buttons-section {
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
		width: 12.2rem;
		height: 6.2rem;
		justify-content: space-between;
	}
	#intro-details {
		margin: 0;
	}
	#dog-rider-div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (min-width: 992px) {
	#main-landing {
		background: linear-gradient(
				rgba(67, 176, 241, 0.25),
				rgba(67, 176, 241, 0.25)
			),
			url(../assets/images/passengerdog.jpg);
		background-size: cover;
		background-position: center;
		min-height: 85vh;
	}

	#main-landing img {
		display: none;
	}
	#main-welcome-intro {
		padding: 1.5rem;
		font-size: 32px;
		margin: 0;
		color: #1e3d58;
		font-family: "Bubblegum Sans", cursive;
	}

	#intro-details p {
		font-size: 16px;
	}
	#main-buttons-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		background-color: #e8eef1;
		border-radius: 50%;
		height: 160px;
		width: 160px;
		font-size: 12px;
		border: 1px solid #057dcd;
		color: #057dcd;
	}
	#main-buttons-section h2 {
		margin: 0;
		padding: 5px;
	}
	#main-buttons-section h3 {
		margin: 0;
		padding: 5px;
	}
	#main-buttons-section:hover {
		border: 1px solid #fd7f20;
	}
	#main-buttons-section h3:hover {
		color: #fd7f20;
	}
	#secondary-landing {
		background-color: #e8eef1;
		width: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 50px;
		border-radius: 10px;
	}
	#secondary-landing p {
		color: #1e3d58;
	}
}

/* FEATURES ON LANDING PAGE */
.features-div {
	background-color: #e8eef1;
	max-width: 100vw;
	min-height: 100vh;
}

#features-title {
	padding: 30px 0;
	font-size: 40px;
	margin: 0 0.5%;
	font-family: "Bubblegum Sans", cursive;
}

.features-section {
	display: flex;
	flex-direction: column;
}

.features-section h1 {
	text-transform: uppercase;
}

.main-features {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 1.2rem;
	padding-right: 0.6rem;
	margin: 0.2rem 1.2rem;
	margin-right: 0.6rem;
	align-items: center;
	height: 8rem;
	text-align: right;
}
.main-features-reverse {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 1.2rem;
	padding-right: 0.6rem;
	margin: 0.2rem 1.2rem;
	margin-left: 0.6rem;
	align-items: center;
	height: 8rem;
	text-align: left;
}

.features-info {
	width: 70vw;
	height: 7rem;
}

.features-info h1 {
	font-size: 20px;
	font-weight: bolder;
	margin: 5px;
}

.features-info p {
	font-size: 1.2rem;
}

.features-icon {
	display: flex;
	color: #fd7f20;
	height: 70px;
	width: 70px;
	border: 1px #fd7f20 solid;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	margin: 1rem 0rem 1.6rem 1rem;
	padding: 10px;
}

.features-icon-reverse {
	display: none;
}

.features-icon-right {
	display: flex;
	color: #fd7f20;
	height: 70px;
	width: 70px;
	border: 1px #fd7f20 solid;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	margin: 1rem 1rem 1.6rem 0rem;
	padding: 10px;
}

.features-icon:hover,
.features-icon-right:hover,
.features-icon-reverse:hover {
	color: #1e3d58;
	border: 1px solid #1e3d58;
}

#dog-rider-img {
	display: none;
	height: 500px;
	width: 400px;
	border-radius: 3px;
}

#man-with-dogs {
	height: 290px;
	width: 350px;
	border-radius: 5px;
	margin-bottom: 3%;
}

@media screen and (min-width: 768px) {
	.main-features {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 16rem;
		text-align: center;
		width: 200px;
	}

	.main-features-reverse {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 16rem;
		text-align: center;
		width: 200px;
	}

	.features-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 2%;
	}

	.features-sub-section-1,
	.features-sub-section-2 {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 720px;
	}

	.features-info {
		width: 220px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.features-icon {
		display: none;
	}
	.features-icon-reverse {
		display: flex;
		color: #fd7f20;
		height: 70px;
		width: 70px;
		border: 1px #fd7f20 solid;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		margin: 1rem 1rem 1.6rem 0rem;
		padding: 10px;
	}

	#features-title {
		border: 0;
		padding: 50px 0 0 0;
		margin-bottom: 3%;
		font-size: 50px;
	}
	#man-with-dogs {
		height: 520px;
		width: 700px;
	}
}

@media screen and (min-width: 992px) {
	.features-section {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		place-items: center;
		min-height: 50vh;
	}
	.main-features {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding: 1.2rem;
		padding-right: 0.6rem;
		margin: 0.2rem 1.2rem;
		margin-right: 0.6rem;
		align-items: center;
		height: 8rem;
		width: 27rem;
		text-align: right;
	}

	.main-features-reverse {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding: 1.2rem;
		padding-right: 0.6rem;
		margin: 0.2rem 1.2rem;
		margin-left: 0.6rem;
		align-items: center;
		height: 8rem;
		width: 27rem;
		text-align: left;
	}

	.features-sub-section-1,
	.features-sub-section-2 {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 500px;
		width: 500px;
	}
	.main-features h1,
	.main-features p {
		text-align: right;
	}

	.main-features-reverse h1,
	.main-features-reverse p {
		text-align: left;
	}

	.features-info {
		display: flex;
		justify-content: flex-start;
	}

	.features-icon {
		display: flex;
	}
	.features-icon-reverse {
		display: none;
	}
	#map-img {
		height: 500px;
		width: 420px;
		display: flex;
		border-radius: 5px;
	}

	#dog-rider-img {
		display: flex;
	}
}
@media (min-width: 992px) and (max-width: 1360px) {
	#main-landing {
		min-height: 80vh;
	}
	#dog-rider-img {
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 310px;
		max-height: 468px;
	}
	.main-features,
	.main-features-reverse {
		width: 340px;
	}
	.features-sub-section-1,
	.features-sub-section-2 {
		width: 300px;
		height: 300px;
		margin: 0;
	}

	#man-with-dogs {
		height: 80%;
		width: 80%;
		padding-top: 8%;
	}
	#man-with-dogs-div {
		display: flex;
		justify-content: center;
		justify-content: center;
		padding-top: 5%;
	}
	.features-div {
		min-height: 80vh;
	}
}

@media screen and (min-width: 1360px) {
	#main-landing {
		min-height: 80vh;
	}
	#man-with-dogs-div {
		padding-top: 10%;
	}
	#man-with-dogs {
		height: 70%;
		width: 70%;
	}
	#dog-rider-img {
		height: 80%;
		width: 80%;
	}
	.features-div {
		min-height: 90vh;
	}
}
