#login-section {
	min-height: 95vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3%;
}

#login-toast {
	width: 300px;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #e8eef1;
	width: 25rem;
	padding: 2rem;
	border-radius: 10px;
}

.login-header {
	font-size: 1.5rem;
	color: #1e3d58;
	margin: 2%;
}

#dog-icon {
	color: #e8eef1;
	height: 200px;
	width: 200px;
}

.login-input-1,
.login-input-2 {
	width: 22rem;
	height: 3rem;
	border-radius: 12px;
	border: 1px solid black;
	margin: 2%;
	padding-left: 10px;
	outline: none;
	font-size: 15px;
}

.login-input-1:hover,
.login-input-2:hover {
	background-color: #e8eef1;
}

.login-button {
	width: 22rem;
	height: 3rem;
	margin: 1.2rem 0.5rem;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #1e3d58;
	color: #e8eef1;
	font-size: 18px;
}

.login-button:hover {
	cursor: pointer;
	background-color: #fd7f20;
	border: 1px solid #fd7f20;
	color: #1e3d58;
}

.login-link {
	text-decoration: none;
	color: black;
}

.login-link p {
	margin: 30px 0;
}

.login-link p:hover {
	cursor: pointer;
	color: #fd7f20;
}

@media screen and (min-width: 768px) {
	#login-section {
		min-height: 95vh;
		max-width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background: linear-gradient(
				rgba(67, 176, 241, 0.25),
				rgba(67, 176, 241, 0.25)
			),
			url(../assets/images/oceandogs3.jpeg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		margin-top: 0;
	}

	#login-toast {
		width: 350px;
	}

	.login-form {
		height: 520px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #e8eef1;
		width: 25rem;
		padding: 2rem;
		border-radius: 10px;
		border: 1px solid black;
	}

	.login-header {
		font-size: 1.5rem;
		color: #1e3d58;
	}

	#dog-icon {
		color: #e8eef1;
		height: 200px;
		width: 200px;
	}

	.login-input-1 {
		width: 22rem;
		height: 2.5rem;
		border-radius: 10px 10px 0px 0px;
		border: 1px solid black;
		margin: 10px 5px 0px 5px;
		padding-left: 10px;
		outline: none;
		font-size: 15px;
	}
	.login-input-2 {
		width: 22rem;
		height: 2.5rem;
		border-radius: 0px 0px 10px 10px;
		border: 1px solid black;
		border-width: 0px 1px 1px 1px;
		margin: 0px 5px 10px 5px;
		padding-left: 10px;
		outline: none;
		font-size: 15px;
	}

	.login-input-1:hover,
	.login-input-2:hover {
		background-color: #e8eef1;
	}

	.login-button {
		width: 22rem;
		height: 2rem;
		margin: 1.2rem 0.5rem;
		border-radius: 10px;
		border: 1px solid black;
		background-color: #1e3d58;
		color: #e8eef1;
		font-size: 18px;
	}

	.login-button:hover {
		cursor: pointer;
		background-color: #fd7f20;
		border: 1px solid #fd7f20;
		color: #1e3d58;
	}

	.login-link {
		text-decoration: none;
		color: black;
	}

	.login-link p:hover {
		cursor: pointer;
		color: #fd7f20;
	}
	.login-link p {
		margin: 10px;
	}
}
