#login-section {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e8eef1;
}

.login-form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e8eef1;
	width: 25rem;
	padding: 2rem;
	border-radius: 10px;
	border: 1px solid black;
}

.login-header {
	font-size: 1.5rem;
	color: #1e3d58;
}

#dog-icon {
	color: #e8eef1;
	height: 200px;
	width: 200px;
}

.login-input-1 {
	width: 22rem;
	height: 2.5rem;
	border-radius: 10px 10px 0px 0px;
	border: 1px solid black;
	margin: 10px 5px 0px 5px;
	padding-left: 10px;
	outline: none;
	font-size: 15px;
}
.login-input-2 {
	width: 22rem;
	height: 2.5rem;
	border-radius: 0px 0px 10px 10px;
	border: solid black;
	border-width: 0px 1px 1px 1px;
	margin: 0px 5px 10px 5px;
	padding-left: 10px;
	outline: none;
	font-size: 15px;
}

.login-input-1:hover,
.login-input-2:hover {
	/* background-color: #e8eef1; */
	border: 1px solid #fd7f20;
}

.login-button {
	width: 22rem;
	height: 2rem;
	margin: 1.2rem 0.5rem;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #1e3d58;
	color: #e8eef1;
	font-size: 18px;
}

.login-button:hover {
	cursor: pointer;
	background-color: #fd7f20;
	border: 1px solid #fd7f20;
	color: #1e3d58;
}

.login-link {
	text-decoration: none;
	color: black;
}

.login-link p:hover {
	cursor: pointer;
	color: #fd7f20;
}
