/* #main-navbar {
	display: flex;
	flex-direction: column;
} */

/* .navbar-links {
	display: flex;
	flex-direction: column;
	margin: 0.3rem;
	padding: 1rem;
	border-bottom: 1px solid #1e3d58;
	text-decoration: none;
	color: #1e3d58;
	font-size: 1.5rem;
	margin: 1.2rem;
	cursor: pointer;
} */

/* .main-link {
	text-transform: uppercase;
	text-decoration: none;
	color: #e8eef1;
	font-size: 2rem;
	background-color: #1e3d58;
	align-items: center;
	padding: 1.2rem;
	display: flex;
	justify-content: center;
	width: 100%;
} */

/* .navbar-links a {
	text-decoration: none;
	color: #1e3d58;
	font-size: 1.5rem;
	margin: 1.2rem;
	cursor: pointer;
} */

.navbar-links:hover {
	color: #fd7f20;
}

#secondary-navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 10px;
}

#secondary-navbar a {
	margin: 5px;
	text-decoration: none;
	color: #057dcd;
	border: 1px solid #43b0f1;
	border-radius: 30px;
	padding: 10px;
}

#secondary-navbar a:hover {
	border: 1px solid #fd7f20;
}

@media screen and (min-width: 768px) {
	#main-navbar {
		flex-direction: row;
		height: 5rem;
	}
	.navbar-links {
		flex-direction: row;
		background-color: #1e3d58;
		margin: 0;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
		height: 5rem;
	}
	.main-link {
		color: #e8eef1;
	}
	.navbar-links a:hover {
		color: #e8eef1;
		/* padding-left: 2.5rem; */
	}
}

@media screen and (min-width: 992px) {
	.styled-link {
		justify-content: flex-start;
		padding-left: 50px;
	}
	#secondary-navbar {
		border: none;
	}
	#secondary-navbar:hover {
		border: none;
	}
}
