#register-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eef1;
}

#user-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8eef1;
  height: 45rem;
  width: 25rem;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid black;
}

#dog1-icon {
  height: 100px;
  width: 120px;
  margin: 10px;
}

.login-header {
  font-size: 1.5rem;
  color: #1e3d58;
}

#register-input {
  width: 22rem;
  height: 3rem;
  border-radius: 0;
  border: solid black;
  border-width: 1px 1px 0 1px;
  margin: 0 5px;
  padding-left: 10px;
  outline: none;
  font-size: 15px;
}

#top-input {
  width: 22rem;
  height: 3rem;
  border-radius: 10px 10px 0px 0px;
  border: solid black;
  border-width: 1px 1px 0 1px;
  margin: 10px 5px 0px 5px;
  padding-left: 10px;
  outline: none;
  font-size: 15px;
}

#bottom-input {
  width: 22rem;
  height: 3rem;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid black;
  margin: 0px 5px 10px 5px;
  padding-left: 10px;
  outline: none;
  font-size: 15px;
}

.register-button {
  width: 22rem;
  height: 2rem;
  margin: 1.2rem 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #1e3d58;
  color: #e8eef1;
  font-size: 18px;
}

.register-button:hover {
  cursor: pointer;
  background-color: #fd7f20;
  border: 1px solid #fd7f20;
  color: #1e3d58;
}

@media screen and (max-width: 768px) {
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .login-header {
    margin: 0 !important;
  }
}
