#register-section {
	min-height: 95vh;
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3%;
}

#user-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e8eef1;
	width: 25rem;
	padding: 2rem;
	border-radius: 10px;
}

#register-toast {
	width: 300px;
}

#dog1-icon {
	height: 100px;
	width: 120px;
	margin: 30px;
}

.login-header {
	font-size: 1.5rem;
	color: #1e3d58;
	margin: 2%;
}

.register-input,
#top-input,
#bottom-input {
	width: 22rem;
	height: 3rem;
	border-radius: 12px;
	border: 1px solid black;
	margin: 2%;
	padding-left: 10px;
	outline: none;
	font-size: 15px;
}

.register-input:hover,
#top-input:hover,
#bottom-input:hover {
	background-color: #e8eef1;
}

.register-button {
	width: 22rem;
	height: 3rem;
	margin: 1.2rem 0.5rem 0 0.5rem;
	border-radius: 10px;
	border: 1px solid black;
	background-color: #1e3d58;
	color: #e8eef1;
	font-size: 18px;
}

.register-button:hover {
	cursor: pointer;
	background-color: #fd7f20;
	border: 1px solid #fd7f20;
	color: #1e3d58;
}

#license-plate {
	text-transform: uppercase;
}

::placeholder {
	text-transform: none;
}

.register-link {
	text-decoration: none;
}
.register-link:hover {
	cursor: pointer;
}
.register-link p {
	margin: 30px 0;
	color: black;
}
.register-link p:hover {
	color: #fd7f20;
}

@media screen and (min-width: 768px) {
	#register-section {
		min-height: 95vh;
		max-width: 100vw;
		margin-top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: linear-gradient(
				rgba(67, 176, 241, 0.25),
				rgba(67, 176, 241, 0.25)
			),
			url(../assets/images/oceandogs3.jpeg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#register-toast {
		width: 350px;
	}

	#user-form {
		margin: 3%;
		height: 620px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #e8eef1;
		width: 25rem;
		padding: 2rem;
		border-radius: 10px;
		border: 1px solid black;
	}

	#dog1-icon {
		height: 100px;
		width: 120px;
		margin: 10px;
	}

	.login-header {
		font-size: 1.5rem;
		color: #1e3d58;
	}

	.register-input {
		width: 22rem;
		height: 3rem;
		border-radius: 0;
		border: solid black;
		border-width: 1px 1px 0 1px;
		margin: 0 5px;
		padding-left: 10px;
		outline: none;
		font-size: 15px;
	}

	#top-input {
		width: 22rem;
		height: 3rem;
		border-radius: 10px 10px 0px 0px;
		border: solid black;
		border-width: 1px 1px 0 1px;
		margin: 10px 5px 0px 5px;
		padding-left: 10px;
		outline: none;
		font-size: 15px;
	}

	#bottom-input {
		width: 22rem;
		height: 3rem;
		border-radius: 0px 0px 10px 10px;
		border: 1px solid black;
		margin: 0px 5px 10px 5px;
		padding-left: 10px;
		outline: none;
		font-size: 15px;
	}

	.register-input:hover,
	#top-input:hover,
	#bottom-input:hover {
		background-color: #e8eef1;
	}

	.register-button {
		width: 22rem;
		height: 2rem;
		margin: 1.2rem 0.5rem 0 0.5rem;
		border-radius: 10px;
		border: 1px solid black;
		background-color: #1e3d58;
		color: #e8eef1;
		font-size: 18px;
	}

	.register-button:hover {
		cursor: pointer;
		background-color: #fd7f20;
		border: 1px solid #fd7f20;
		color: #1e3d58;
	}

	#license-plate {
		text-transform: uppercase;
	}

	::placeholder {
		text-transform: none;
	}

	.register-link {
		text-decoration: none;
	}
	.register-link:hover {
		cursor: pointer;
	}
	.register-link p {
		margin-top: 20px;
		color: black;
	}
	.register-link p:hover {
		color: #fd7f20;
	}
}
